.product-card {
  width: 18rem;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: rgba(73, 73, 73, 0.15) 0px 5px 15px 0px; */
  transition: transform 0.3s ease-in-out;
  border: 1px solid var(--main-light);
}

.product-card:hover {
  transform: translateY(-5px);
}
.product-card .card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #212529 !important;
}

.product-card .card-text {
  color: #666;
}

.product-card-img {
  max-width: 100%;
  width: 296px;
  vertical-align: top;
  position: relative;
  /* border-radius: 27px; */
  filter: brightness(0.823) contrast(1.4);
  border: 40px solid white;
}
.product-card .product-card-btn {
  /* color: white; */
  border-radius: 30px;
  padding: 9px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--bs-box-shadow);
  background: rgb(240, 240, 240);
}
.product-card .product-card-btn:hover {
  background-color: var(--main-green-ligth) !important;
  /* color: var(--success); */
}
