.home-row {
  background: var(--main-green-ligth);
}
.md-bg-added {
  background: unset;
}
@media (max-width: 1024px) and (min-width: 320px) {
  .md-bg-added {
    background: url("../assets/cover-image1.jpg") no-repeat;
    background-size: cover;
  }
  .home-row {
    background: rgba(255, 255, 255, 0.747);
  }
}
