.home {
  background: var(--main-green-ligth);
}
.left-text {
  padding-left: 55px;
  display: flex;
  align-items: center;
}
.right-text {
  text-align: center;
}
.title {
  font-size: 2.5rem;
}
.subtext {
  width: 311px;
}
.image {
  width: -webkit-fill-available;
}

@media only screen and (max-width: 600px) {
  .home {
    background-image: url("../assets/cover-image1.jpg");
    background-size: cover;
    background-blend-mode: multiply;
  }
  .left-text {
    padding-left: 30px;
    background: #f9fffac7;
  }
}
