.product-card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transition: transform 0.3s ease;
  overflow: hidden;
  border: unset;
  width: 80%;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  overflow: hidden;
  border-radius: 20px !important;
  /* border: 1px solid var(--main-light-purple) !important; */
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-body {
  padding: 10px;
}
.product-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0c0606;
}

.product-text {
  font-size: 1rem;
  color: #2c2424;
}
.product-btn {
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #75b798;
}
.product-btn:hover {
  background-color: darkolivegreen !important;
}
