.cart {
  padding: 0px;
}
.res-table {
  /* box-shadow: var(--bs-box-shadow-lg); */
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  padding: 0px 0px 70px 0px;
}
/* .cart table tr:last-child {
  border-bottom: white !important;
} */

.cart table {
  overflow: hidden;
  background-color: transparent;
  /* border-radius: 5px; */
  /* width: 1096px; */
}
.cart table th:first-child {
  border-left: unset;
}
.cart table th {
  background-color: #dee2e65e !important;
  font-weight: 400;
  border-left: 1px solid var(--bs-dark-bg-subtle);
  width: 500px;
}

.cart table td {
  vertical-align: middle;
}
.cart .product-image {
  width: 150px;
}
.cart .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: rgba(204, 102, 102, 0.11);
  color: #2b2a2a;
  /* font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; */
  font-size: 12px;
  border-radius: 3px;
}
.cart .remove-product:hover {
  background-color: #a44 !important;
  color: white;
}

.cart .checkout {
  border: 0;
  padding: 7px 21px;
  font-size: 17px;
  border-radius: 6px;
  background-color: var(--bs-success);
}

.cart .checkout:hover {
  background-color: var(--bs-success-border-subtle) !important;
}
.quantity {
  text-align-last: center;
}
.tab-content {
  border-top: unset !important;
  border: 1px solid var(--bs-gray-200);
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 95px;
  box-shadow: var(--bs-box-shadow-lg);
  background: white;
}
.nav-tabs .nav-link.active {
  font-size: medium;
  font-weight: 500;
  background: #f3f3f300;
  border-bottom-color: #f3f3f3;
  box-shadow: var(--bs-box-shadow-inset);
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
  color: var(--bs-dark-text-emphasis) !important;
  font-size: medium;
}
/* Make more adjustments for phone */
@media (max-width: 700px) and (min-width: 425px) {
  .card {
    /* padding: 20px 10px !important; */
    border-radius: unset !important;
    border-top: unset !important;
  }
  .cart img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    /* border-radius: 27px; */
    filter: brightness(0.823) contrast(1.4);
    border: 20px solid white;
  }
  .nav.nav-tabs {
    margin-top: 35px !important;
  }
  .quantity {
    text-align-last: justify;
  }
  .quantity .form-group {
    width: 75px;
    height: 23px;
    font-size: x-small;
  }
  .quantity .form-control {
    font-size: small;
    width: 34px;
  }
}

@media only screen and (max-width: 424px) {
  .product-image {
    width: 140px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: x-small;
  }
  .cart img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    /* border-radius: 27px; */
    filter: brightness(0.823) contrast(1.4);
    border: 10px solid white;
  }
  .card {
    /* padding: 20px 10px !important; */
    border-radius: unset !important;
    border-top: unset !important;
  }
  .nav.nav-tabs {
    margin-top: 35px !important;
  }
  .quantity {
    text-align-last: justify;
  }
  .quantity .form-group {
    width: 75px;
    height: 23px;
    font-size: x-small;
  }
  .quantity .form-control {
    font-size: small;
    width: 34px;
  }
}
