#language-dropdown {
  outline: none;
  border: none;
}
.language-dropdown-box .dropdown-menu {
  min-width: 80px;
  margin: auto;
  text-align: center;
}
.language-dropdown-box .dropdown-menu.show {
  width: auto;
  height: auto;
}
.language-dropdown-box .dropdown-item.active {
  background-color: var(--bs-gray-200);
}
