.flower-bg-image {
  /* background: radial-gradient(
    circle,
    var(--main-green),
    var(--main-light-purple)
  ) !important; */
  background-color: white !important;
}
.popular-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.popular-text {
  width: 350px;
  text-align: center;
  color: #212529 !important;
  font-weight: 400;
}
.popular-title {
  color: #212529;
  font-size: 2.3rem;
}
.see-all {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-all a {
  color: #212529 !important;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
}
.see-all a:hover {
  transform: translateY(-5px);
}
.see-all svg {
  font-size: 1.8rem;
  color: #212529 !important;
  border-radius: 20px;
}
.box-shadow-img {
  box-shadow: rgb(133 133 177) 10px 10px;
}
.popular-product-card {
  width: auto;
}
.popular-product-card .card {
  box-shadow: #eed284da 10px 10px;
  transition: box-shadow 1.2s ease;
  border: unset;
}
.popular-product-card .card:hover {
  /* box-shadow: unset; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* border: 1px solid var(--main-light) !important; */
}
.dots {
  display: none;
}
@media (max-width: 700px) and (min-width: 425px) {
  .popular-product-card .product-card {
    width: 11rem !important;
  }
  /* #products {
    border: 1px solid var(--main-light);
  } */
  .dots {
    display: flex;
    justify-content: center;
    position: relative;
    top: -27px;
  }
  .custom-height {
    height: 140px;
  }
  .text-style {
    text-align: justify;
    white-space: normal;
    letter-spacing: -1px;
    line-height: normal;
  }
  .box-shadow-img {
    box-shadow: rgb(133 133 177) 6px 7px;
  }
  .popular-product-card .card {
    box-shadow: #eed284da 4px 3px;
  }
  .product-card .card-title {
    font-size: 1rem;
  }
  .popular-title {
    font-size: 1.5rem;
  }
  .popular-text {
    font-size: small;
  }
  .card-title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 424px) {
  .text-style {
    text-align: justify;
    white-space: normal;
    letter-spacing: -1px;
    line-height: normal;
    font-size: small;
  }
  .dots {
    top: -6px;
    display: flex;
    position: relative;
    justify-content: center;
    width: -webkit-fill-available;
  }
  .popular-product-card .product-card {
    width: 9rem !important;
  }
  .product-card-img {
    border: 19px solid white;
  }
  .product-card .card-text {
    font-size: small;
  }
  .product-card .card-title {
    font-size: 0.9rem;
  }
  .product-card .product-card-btn {
    width: 26px;
    padding: 4px 7px;
  }
  #about-row {
    height: 319px;
  }
  .popular-product-card .card {
    box-shadow: unset;
    border: 1px solid var(--bs-border-color);
  }
  .popular-title {
    font-size: 1.5rem;
  }
  .popular-text {
    font-size: small;
  }
  .card-title {
    font-size: 1rem;
  }
  .popular-product-card .card:hover {
    box-shadow: unset;
  }
  .product-card-body {
    height: unset;
  }
}
