@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-green: #6c7e3e;
  --main-light-purple: #ededff;
  --main-light-purple-transparent: #ededff75;
  --main-light: #ead9db;
  --main-green-ligth: #d9eada;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.circle-icon {
  cursor: pointer;
  background-color: var(--main-light-purple);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-light-purple-transparent);
}
.circle-icon:hover {
  background-color: var(--main-light-purple-transparent);
  border: 1px solid var(--main-light-purple);
}
.main-btn {
  background-color: var(--main-green-ligth);
  border: 1px solid var(--main-green);
  color: black;
}
.main-btn:hover {
  background-color: var(--main-green);
  border: 1px solid var(--main-green-ligth);
}
.fit-content {
  width: fit-content !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-green);
}
::-webkit-overflow-scrolling:touch {
  background: #707070;
  width: 5px;
}
