@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  /* Colors */
  --main-green: #6c7e3e;
  --main-light-purple: #ededff;
  --main-light-purple-transparent: #e6e6fc;
  --main-light: #ead9db;
  --main-green-ligth: #d9eada;
  --light-green: #f5f5ed;
  --main-orange: #fbbf7b;
  --dark-green: #303b23;
  --brown: #b97a4e;
  --purple: rgb(133 133 177);
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --green-light: #a8975b;
  --skin-color: #d1a48d;
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
  --border-radius-circle: 50%;
  --circle-icon-height: 37px;
  --circle-icon-width: 37px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-light-green {
  background-color: var(--main-green-ligth);
}
.circle-icon {
  cursor: pointer;
  background-color: var(--main-light-purple);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-light-purple-transparent);
}
.circle-icon:hover {
  background-color: var(--main-light-purple-transparent);
  border: 1px solid var(--main-light-purple);
}
.main-btn {
  background-color: var(--main-green-ligth);
  border: 1px solid var(--main-green);
  color: black;
}
.main-btn:hover {
  background-color: var(--main-green);
  border: 1px solid var(--main-green-ligth);
}
.fit-content {
  width: fit-content !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-green);
}
::-webkit-overflow-scrolling:touch {
  background: #707070;
  width: 5px;
}
.btn:active,
.btn:hover,
.btn.show {
  /* color: var(--bs-btn-active-color); */
  background-color: unset !important;
  border-color: unset !important;
}
.dropdown-item:active {
  background-color: var(--light-green) !important;
  color: var(--dark-green) !important;
}
.btn-circle {
  border-radius: var(--border-radius-circle) !important;
  display: flex !important;
  align-items: center !important;
  height: var(--circle-icon-height) !important;
  width: var(--circle-icon-width) !important;
  justify-content: center !important;
}
.shadow {
  -moz-box-shadow: 3px 2px 19px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 2px 19px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 2px 19px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.shadow:hover {
  -moz-box-shadow: 3px 6px 22px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 3px 6px 22px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 6px 22px 0px rgba(0, 0, 0, 0.15);
}
.btn-success {
  border: unset;
}
.btn-success:hover {
  background-color: rgba(34, 121, 34, 0.705) !important;
  /* border: unset !important; */
}
