.footer {
  background: var(--main-green-ligth);
  color: var(--bs-dark-text-emphasis);
}
.footer a {
  color: var(--bs-dark-text-emphasis);
}
.footer a:hover {
  color: var(--black);
}
.aloe-vera-png {
  width: fit-content;
  margin-left: auto;
  position: absolute;
  right: 0;
  margin-top: -357px;
}
.aloe-vera-png img {
  width: 357px;
}
@media only screen and (max-width: 600px) {
  .footer .container {
    position: relative;
    z-index: 2;
  }
  .aloe-vera-png img {
    opacity: 0.5;
  }
}
