#products .see-all a {
  transition: transform 0.3s ease-in-out;
}
#products .see-all a:hover {
  transform: translateY(-5px);
}
#products .see-all svg {
  border-radius: 20px;
}
#products .popular-product-card .card {
  box-shadow: #eed284da 10px 10px;
  transition: box-shadow 1.2s ease;
  border: unset;
}
#products .popular-product-card .card:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#products.popular-products .card {
  min-width: min-content;
}
@media (min-width: 375px) and (max-width: 426px) {
  #products.popular-products .popular-product-card .card {
    box-shadow: unset;
    border: 1px solid var(--bs-gray-400);
  }
  #products.popular-products .card {
    min-width: 179px;
    margin-bottom: 20px;
  }
  #products.popular-products .card .card-title {
    font-size: 1em;
  }
  #products.popular-products .list-of-pop-products {
    align-content: baseline;
    align-items: baseline;
  }
}
@media (min-width: 320px) and (max-width: 376px) {
  #products.popular-products .popular-product-card .card {
    box-shadow: unset;
    border: 1px solid var(--bs-gray-400);
  }
  #products.popular-products .card {
    min-width: 320px;
    margin-bottom: 20px;
  }
  #products.popular-products .card .card-title {
    font-size: 1em;
  }
  #products.popular-products .list-of-pop-products {
    display: block;
  }
}
