.btn-purple {
  background-color: var(--main-light-purple) !important;
  height: max-content;
  padding: 3px 10px;
  border-radius: 21px;
  width: fit-content;
  box-shadow: var(--bs-box-shadow-sm);
}
.btn-purple:hover,
.btn-purple.show {
  background-color: var(--main-light-purple-transparent) !important;
}
.dropdown-menu.show {
  height: 156px;
  overflow: auto;
}
.search {
  border-radius: 20px;
}
.search:active,
.search:focus {
  box-shadow: none;
}
.popular-text.text-dark {
  color: black !important;
}
.product-card-body {
  height: 120px;
}
.on-scroll-box {
  position: fixed;
  z-index: 4;
  top: 0;
  background: white;
  width: 100%;
  left: 0;
  margin: 0px !important;
  padding: 7px 78px !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
.scroll-up-btn {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 2;
}
.scroll-up-btn .btn {
  background: var(--main-green-ligth) !important;
  width: 44px !important;
  height: 42px !important;
}
.product-col {
  width: fit-content;
  padding: 0px 4px;
}
#products {
  width: 95%;
  margin: auto;
}
#productsToggle b.small {
  font-size: medium;
}
.dropdown-menu-products {
  color: var(--bs-secondary-text-emphasis);
  border-radius: 20px;
  padding: 6px 16px;
  font-size: medium;
  background-color: var(--bs-gray-100);
  width: min-content;
  height: auto;
}
.filter-icon {
  font-size: small;
}
@media (max-width: 700px) and (min-width: 572px) {
  .col-search {
    width: auto;
  }
  .on-scroll-box {
    padding: 10px 0px 10px 14px !important;
    width: 100% !important;
  }
  .w-90 {
    width: 82%;
  }
  .product-card {
    width: 11rem !important;
  }
  .w-lg-50 {
    width: unset !important;
  }
  #products {
    width: 98%;
  }
  .product-card-body {
    height: auto;
  }
  #productsToggle b.small {
    font-size: smaller;
  }
}
@media only screen and (max-width: 572px) {
  .dropdown-item {
    font-size: x-small;
  }
  .product-card {
    width: 10rem !important;
  }
  .product-col {
    padding: 0px !important;
  }
  .category-box {
    gap: 0px 20px;
    justify-content: center;
  }
  .scroll-up-btn {
    right: 14px;
  }
  .col-search {
    width: auto;
  }
  .on-scroll-box {
    padding: 10px 0px 10px 14px !important;
    width: 100% !important;
  }
  .w-90 {
    width: 82%;
  }
  .w-lg-50 {
    width: unset !important;
  }
  #products {
    width: 100%;
    justify-content: center;
  }
  .product-card-body {
    height: 120px;
  }
  #productsToggle b.small {
    font-size: smaller;
  }
  #productsToggle {
    font-size: small;
  }
  .dropdown-menu-products {
    height: auto;
    padding: 4px 9px;
    font-size: x-small;
  }
  .form-control {
    height: 28px;
    font-size: small;
  }
  .undo-icon {
    font-size: small;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .filter-icon {
    font-size: x-small;
  }
}
