/* #products {
  background: linear-gradient(to right, #7ebea5, #35654d);
} */
.btn-purple {
  background-color: var(--main-light-purple) !important;
  height: max-content;
  padding: 3px 10px;
  border-radius: 21px;
  width: fit-content;
  box-shadow: var(--bs-box-shadow-sm);
  /* border: 1px solid var(--main-light-purple-transparent); */
}
.btn-purple:hover,
.btn-purple.show {
  background-color: var(--main-light-purple-transparent) !important;
  /* border: 1px solid var(--main-light-purple); */
}
.dropdown-menu.show {
  height: 156px;
  overflow: auto;
}
.search {
  border-radius: 20px;
}
.search:active,
.search:focus {
  box-shadow: none;
}
.popular-text.text-dark {
  color: black !important;
}
/* .product-col {
  width: 23% !important;
} */
.on-scroll-box {
  position: fixed;
  z-index: 4;
  top: 0;
  background: white;
  width: 100%;
  left: 0;
  margin: 0px !important;
  padding: 7px 78px !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
/* .toggle-scroll {
  background: aliceblue;
  padding: 1px 12px;
  border-radius: 21px;
} */
.scroll-up-btn {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 2;
}
.scroll-up-btn .btn {
  background: var(--main-green-ligth) !important;
  width: 44px !important;
  height: 42px !important;
}
/* #products .row > * {
  width: unset !important;
} */
.product-col {
  width: fit-content;
}
/* #filterBox {
  width: -webkit-fill-available;
  padding: 80px;
} */
#products {
  width: 95%;
  margin: auto;
}
@media (max-width: 700px) and (min-width: 425px) {
  .col-search {
    width: auto;
  }
  .on-scroll-box {
    padding: 10px 0px !important;
    width: 100% !important;
  }
  .w-90 {
    width: 82%;
  }
  .product-card {
    width: 11rem !important;
  }
  .w-lg-50 {
    width: unset !important;
  }
  /* .search {
    width: unset;
    margin: unset;
  } */
  #products {
    width: 98%;
  }
}
@media only screen and (max-width: 424px) {
  .product-card {
    width: 10rem !important;
  }
  .product-col {
    padding: 0px !important;
  }
  .category-box {
    gap: 0px 31px;
  }
  .scroll-up-btn {
    right: 14px;
  }
  .col-search {
    width: auto;
  }
  .on-scroll-box {
    padding: 10px 0px !important;
    width: 100% !important;
  }
  .w-90 {
    width: 82%;
  }
  .w-lg-50 {
    width: unset !important;
  }
  #products {
    /* width: 98%; */
    justify-content: center;
  }
}
