.on-scroll-box {
  position: fixed;
  z-index: 4;
  top: 0;
  background: white;
  width: 100%;
  left: 0;
  margin: 0px !important;
  padding: 7px 40px !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
.scroll-up-btn {
  position: fixed;
  right: 11px;
  bottom: 32px;
  z-index: 2;
}
.scroll-up-btn .btn {
  background: var(--bs-gray-300) !important;
  width: 60px !important;
  height: 60px !important;
  font-size: x-large;
}

.dropdown-menu-products {
  color: var(--bs-secondary-text-emphasis);
  border-radius: 20px;
  padding: 6px 9px;
  font-size: medium;
  background-color: var(--bs-gray-100);
  width: min-content;
  height: auto;
}
#productsToggle {
  background-color: transparent;
  border-color: transparent;
}

#products {
  background: url("../assets/aloe-vera-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#products .inner-product {
  backdrop-filter: blur(4px);
}
